@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani|Ruda&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');

body {margin: 0;
      border: 0;
      padding:0;
      background-color: white;
      font-family: "Lato", sans-serif;}

h2 {text-align: center;
    margin: 0; 
    font-weight: 900;  
    letter-spacing: 15px;
    font-family: "Ruda", sans-serif;
    text-transform: uppercase;}



/*---------------------navbar styling--------------------*/

.navbar {margin: 0 0;
         background-color: white;}

.navbar-brand img { height: 70px;
                   width: 200px;
                   border-radius: 3px;}

.nav-items {display: block;
            padding:0 5px; }

.nav-items a {text-decoration: none;
              display: block;
              margin: 0 25px;
              color: black;}

.navbar-toggler-icon {background-color: black;}

.nav-items a:hover {color: rgb(20, 17, 170);}

/*---------------------index page styling--------------------*/  

.bgimage {background-image: url("");
           background-size: cover;
           height: 100vh;
           position: relative;}

.content {position: absolute;
                   top: 50%;
                   left: 50%;
                   transform: translate(-50%, -50%);
                   background: rgba(46, 44, 44, 0.5);
                   color: #f1f1f1;
                   width: 100%;}

.quote p {color: white;}

/*---------------------explore page styling--------------------*/    

h3 {}

.explore-image h3 {columns: yellow;}

.explore {margin: 2px 0;
          border-top:1px solid gray; }

.explore-image {padding: 0 2px;
                 }

.explore-image img {height: 300px;
                     width: 300px;
                    margin: 2px;
                    border: 1px solid black}

.explore-image p {font-family: "Rajdhani", sans-serif;
                  font-weight: 499;}

.explore-image p > button {background-color: gray;
        border-radius: 2px;
        color: white;}



/*---------------------gallery page styling--------------------*/  

.image-properties img {height: 300px;
                       width: 390px;}

.image-properties a {text-decoration: none;
                     color: black;
                     text-align: center;}
                    
.gallery {margin:0;
          border-top:1px solid gray;}

/*---------------------about us page styling--------------------*/  

.about {height: 910px;
        border-top:1px solid gray;}

p.about {color: black;}

/*---------------------contact us page styling--------------------*/  

    .contact-form {padding: 150px;}

/*---------------------footer styling--------------------*/

.social-links {text-align: center;
               background-color: rgb(192, 186, 186);
               border-top: 1px solid gray;}

.social-links ul li {list-style: none;
                     display: inline-block;
                     padding: 0 20px; }