@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani|Ruda&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');

body {margin: 0;
      border: 0;
      padding:0;
      background-color: white;
      font-family: "Lato", sans-serif;}

h2 {text-align: center;
    margin: 0; 
    font-weight: 900;  
    letter-spacing: 15px;
    font-family: "Ruda", sans-serif;
    text-transform: uppercase;}

h1 {text-align: center;
             margin: 0; 
             color: white;
             font-weight: 900;  
             letter-spacing: 15px;
             font-family: "Ruda", sans-serif;
             text-transform: uppercase;}



/*---------------------navbar styling--------------------*/

.navbar {margin: 0 0;
         background-color: white;}

.navbar-brand img { height: 70px;
                   width: 200px;
                   border-radius: 3px;}

.nav-items {display: block;
            padding:0 5px; }

.nav-items a {text-decoration: none;
              display: block;
              margin: 0 25px;
              color: black;}

.navbar-toggler-icon {background-color: gray;
                      border-radius: 5px;}

.nav-items a:hover {color: rgb(20, 17, 170);}

/*---------------------index page styling--------------------*/  

.bgimage {background-image: url("https://c.wallhere.com/photos/12/78/Africa_animals-148593.jpg!d");
           background-size: cover;
           height: 100vh;
           position: relative;}

.content {position: absolute;
          top: 50%;
          left: 50%;
          padding: 0 5px;
          border-radius: 5px;
          border-right: 0,6px solid black;
          transform: translate(-50%, -50%);
          background: rgba(255,255,255,0.5);
          width: 100%;}

.quote p {color: white;}

.bgimage p {color: white;
            text-align: center;}

/*---------------------explore page styling--------------------*/    

h3 {}

.explore-image h3 {columns: yellow;}

.explore {margin: 8px 0;
          border-top:1px solid gray; 
          background-color:white;
          color: black;}

.explore-image {padding: 0 2px;}

.explore-image img {height: 300px;
                     width: 300px;
                    margin: 2px;
                    border: 1px solid black}

.explore-image p {font-family: "Rajdhani", sans-serif;
                  font-weight: 499;
                  padding: 5px;}

.explore-image p > button {background-color: gray;
        border-radius: 2px;
        color: white;}



/*---------------------gallery page styling--------------------*/  

.image-properties img {height: 300px;
                       width: 390px;}

.image-properties a {text-decoration: none;
                     color: black;
                     text-align: center;}
                    
.gallery {margin:0;
          border-top:1px solid gray;
          background-color: rgb(252, 252, 252);}

/*---------------------about us page styling--------------------*/  

.aboutus {margin-top: 20px;
          padding: 70px;
           height: 530px;
          border-top:1px solid gray;
          background-color: rgb(252, 252, 252);}

p.about {color: black;}


/*---------------------contact us page styling--------------------*/  

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.274);
    margin-bottom: 70px;
    background-color: rgb(252, 252, 252);}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

.btn-secondary {margin: 20px;
                padding: 0 5px;}

/*---------------------footer styling--------------------*/

.social-links {text-align: center;
               background-color: rgb(192, 186, 186);
               border-top: 1px solid gray;}

.social-links ul li {list-style: none;
                     display: inline-block;
                     padding: 0 20px; }


/*---------------------button styling--------------------*/


.btn-container{margin: auto;
               height:90px;
               width:166.23px;}

button{
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  cursor:pointer;
  border:none;
  padding:3px;
  border-radius: 4px;
  background-color: gray;
  color:white;
  box-sizing:border-box;}

  #more {display: none;}